<html>
  <center>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="jumbotron"> <h1> Polyphony </h1> <br>
      Hi! <br>
      We will turn your sentence into a sound! 
    </div>
    
    <div class="form-group">
      Enter your sentence below: <textarea class="form-control" name="sentence"></textarea> <br>
      <input type="submit" class="btn btn-info" value="Submit">
    </div>
  </body>
  </center>
</html>
